*{
    margin: 0;
    padding: 0;
  
}
body{

  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.container{
    padding: 50px;

}
.section1{
    background-color: black;
    color: white;
    padding: 20px;

}
.section1-contact{
    background-color: orangered;
    color: white;
    padding-right:10px ;
    padding-left:10px ;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
}
.section1-name{
    font-size: 60px;

}
.section1-role{
    font-size: 40px;
    margin-top: 10px;
}
.section2,.section3,.section4,.section5{
margin-top: 20px;

}

.section2-desc,.section3-desc,.section4-desc,.section5-desc{
    margin-top: 10px;

}
.section5{
    background-color: black;
    color: white;
    padding: 20px;
}
#insta,#linkedin{
    color:skyblue;
}
.section4 li,.section3 li{
    list-style: none;
}
.section3{
    background-color: #6462FD;
    color: black;
    display: inline-block;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}
    
.section4{
    background-color: #FE7517;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}


.contact-form{
    margin-top: 20px;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
}
.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact-form__submit{
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 10px;
    background-color: orangered;
    color: black;
border: none ;
}